<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <%= image_tag 'logo-light.svg' %>
      FIN Central
    </a>
    <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Stuff</a>
        </li>

        <% if super_admin? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown-system" data-bs-toggle="dropdown" aria-expanded="false"><%= icon('wrench') %> System</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown-system">
              <li>
                <%= link_to users_path, class: 'dropdown-item' do %>
                  <%= icon('users') %> User Management
                <% end %>
              </li>
              <li>
                <%= link_to programs_path, class: 'dropdown-item' do %>
                  <%= icon('grip-horizontal') %> Programs
                <% end %>
              </li>
              <li>
                <%= link_to years_path, class: 'dropdown-item' do %>
                  <%= icon('calendar-alt') %> Years
                <% end %>
              </li>
            </ul>
          </li>
        <% end %>
      </ul>
      <ul class="navbar-nav ml-auto">
        <% if current_user %>
          <li class="nav-item">
            <%= link_to 'Log Out', destroy_session_path, class: 'nav-link' %>
          </li>
        <% end %>
        <% if flash.empty? %>
          <li class="navbar-text ms-3">
            <i class="fas fa-bell"></i> &nbsp; &nbsp;
          </li>
        <% else %>
          <li class="nav-item dropdown ms-3">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              (<%= flash.count %>) &nbsp; <i class="fas fa-bell"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right flash-dropdown" aria-labelledby="navbarDropdown">
              <% flash.each do |k, msg| %>
                <div class="alert alert-dark">
                  <%= msg %>
                </div>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>