
<%= simple_form_for(@program) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs row">
    <div class="col-8">
      <%= f.input :name %>
    </div>
    <div class="col-4">
      <%= f.input :color, as: "color" %>
    </div>
  </div>

  <div class="form-actions row">
    <div class="col-10"></div>
    <div class="col-2">
      <%= f.button :submit, class: "btn btn-secondary" %>
    </div>
  </div>
<% end %>
