<h1><%= program_badge @program %></h1>

<div class="position-absolute bottom-0 w-50">
  <div class="row my-2">
    <div class="col-3">
      <%= link_to "Edit this program", edit_program_path(@program), class: "btn btn-warning" %>
    </div>
    <div class="col-3">
      <%= button_to "Destroy this program", @program, method: :delete, class: "btn btn-danger" %>
    </div>
  </div>
</div>
