<h1>All Registered Users</h1>

<table class="datatable table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Affiliations</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <td>
        <%= link_to user.name, user %>
      </td>
      <td><%= link_to user.email, "mailto:#{user.email}" %></td>
      <td>
        <%= render partial: 'badges', locals: { user: user } %>
      </td>
    <% end %>
  </tbody>
</table>