<h1><%= @user.name %></h1>

<div class="row">
  <div class="col-6">
    <h2>Affiliations</h2>
    <%= render partial: 'badges', locals: { user: @user } %>
  </div>
  <div class="col-6">
    <%= link_to "Send Email", "mailto:#{@user.email}", class: 'btn btn-primary' %>
  </div>
</div>