<div class="row">
  <div class="col-md-4">
    <div class="card">
      <h2 class="card-header">Hi, <%= current_user.name %></h5>
      <div class="card-body">
        
      </div>
    </div>
  <div>

  <div class="col-md-6">
  </div>

  <div class="col-md-2">
  </div>
</div>