<div class="row">
  <div class="col-md-8">
  </div>
  <div class="col-md-4">
    <h2>Log In</h2>
    <%= link_to '/auth/developer', class: 'btn btn-outline-dark btn-block btn-lg my-3', data: { turbo: false } do %>
      <%= icon('laptop') %> Log in as Developer
    <% end %>
  </div>
</div>