$blue: #0066b3;
$red: #ed1c24;
$grey: #9a989a;

nav.navbar.navbar-dark {
  background-color: $blue !important;
}

.navbar-brand {
  font-weight: bold;
  img {
    height: 2rem;
    margin-top: -0.5rem;
    margin-right: 1rem;
  }
}


.program-badge {
  font-size: 15px;
}

.year-badge{
  font-size: 15px;
  color: black;
  text-decoration: none;
  background-color: $grey;
}

h1{
  .program-badge{
    font-size: 2.5rem;
  }

  .year-badge{
    font-size: 2.5rem;
  }
}
