<h1><%= year_badge @year %></h1>

<div class="position-absolute bottom-0 w-50">
  <div class="row my-2">
    <div class="col-3">
      <%= link_to "Edit this year", edit_year_path(@year), class: 'btn btn-warning' %>
    </div>
    <div class="col-3">
      <%= button_to "Destroy this year", @year, method: :delete, class: 'btn btn-danger' %>
    </div>
  </div>
</div>
