<!DOCTYPE html>
<html>
  <head>
    <title>FIN Central</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag font_awesome_kit_url %>
    <%= javascript_include_tag 'https://code.jquery.com/jquery-3.5.1.js' %>
    <%= javascript_include_tag 'https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js' %>
    <%= javascript_include_tag 'https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js' %>
  </head>

  <body class="bg-light">
    <%= render partial: 'components/navbar' %>

    <%= render partial: 'components/subnav' %>

    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
